-- Inserting first 50 jobs
-- Using builder IDs from database

INSERT INTO jobs (tenant_id, builder_id, community, lot_number, phase, status, address_line1, city, state, zip, scheduled_start, scheduled_end, notes, created_at, updated_at)
VALUES ('all_county', (SELECT id FROM builders WHERE name = 'Toll Brothers' LIMIT 1), 'LACAMAS HILLS', '102', 'Top Out', 'Completed', '2726 N 48TH AVE CAMAS WA 98607', 'Unknown', 'WA', '98607', '2025-04-23 00:00:00+00', '2025-05-03 00:00:00+00', 'DUSTY', now(), now())
ON CONFLICT (builder_id, community, lot_number, phase, tenant_id) DO NOTHING;

INSERT INTO jobs (tenant_id, builder_id, community, lot_number, phase, status, address_line1, city, state, zip, scheduled_start, scheduled_end, notes, created_at, updated_at)
VALUES ('all_county', (SELECT id FROM builders WHERE name = 'Toll Brothers' LIMIT 1), 'LACAMAS HILLS', '139', 'Top Out', 'Completed', '5026 N BENTON DR CAMAS WA 98607', 'Unknown', 'WA', '98607', '2025-04-16 00:00:00+00', '2025-04-18 00:00:00+00', 'DUSTY', now(), now())
ON CONFLICT (builder_id, community, lot_number, phase, tenant_id) DO NOTHING;

INSERT INTO jobs (tenant_id, builder_id, community, lot_number, phase, status, address_line1, city, state, zip, scheduled_start, scheduled_end, notes, created_at, updated_at)
VALUES ('all_county', (SELECT id FROM builders WHERE name = 'Songbird' LIMIT 1), 'LUDEN ESTATES', '9', 'Trim/Final', 'Completed', '12812 NE 109TH STREET VANCOUVER', 'Unknown', 'WA', '12812', '2025-05-21 00:00:00+00', '2025-05-22 00:00:00+00', 'TOMMY', now(), now())
ON CONFLICT (builder_id, community, lot_number, phase, tenant_id) DO NOTHING;

















































-- Total jobs to import: 471
-- Generated SQL for first 50 jobs
