fastapi
uvicorn[standard]
SQLAlchemy>=2.0.36
alembic
psycopg[binary]
asyncpg

python-jose[cryptography]
python-dotenv
pydantic
pydantic-settings
email-validator
bcrypt
slowapi
pytest
pytest-asyncio
httpx
apscheduler>=3.10.0
mangum
pytz
python-dateutil
google-api-python-client>=2.100.0
google-auth-httplib2>=0.1.1
google-auth-oauthlib>=1.1.0
boto3>=1.28.0
python-multipart>=0.0.6
