fastapi
uvicorn[standard]
SQLAlchemy>=2.0.36
alembic
psycopg[binary]
asyncpg

python-jose[cryptography]
python-dotenv
pydantic
pydantic-settings
email-validator
bcrypt
slowapi
pytest
pytest-asyncio
httpx
apscheduler>=3.10.0
mangum
pytz
python-dateutil
